body
  width: min-content

/**HEADER*

header
  background: white

.header__logo
  max-width: 128%
  height:1.8%
  padding: 1%
  margin-left: 25%

.header__img
  max-height: 10%
  max-width: 275.5%


/**MAIN**/

main
  background: #F6F6F6
  border-radius: 15px 15px 0px 0px
  padding: 7%
  margin-top: -15%
  position: relative
  width:262%

.main__titre
  display: flex
  flex-direction: row

  i
    margin-left: 30%
    position: absolute

main h2
  color: grey
  font-weight: 400
  border-bottom: 3px solid #99E2D0
  width: 15%

.btn--animated
  position: relative
  margin-bottom: 25%
  display: flex
  flex-direction: column
  
.btn
  position: absolute
  z-index: 2
  transition: transform 330ms ease-in-out
  transform-origin: left 100%
  border-radius: 20px
  background-color: white
  border: 0px
  box-shadow: 0px 4px 15px 0px #00000026
  width: 100%
  height:4em
  top : 0
  left : 0

  h3
    text-align: start
    margin-bottom:-0.6em
    margin-top : 0.5em

.btn__animaton
    position : absolute
    z-index: 1
    right: 0
    top : 0
    margin-top : 0.3%
    height : 4.75em
    width : 100%
    border: 0px
    box-shadow: 0px 4px 15px 0px #00000026
    border-radius: 20px
    background-color: #99E2D0



.btn--animated:hover    
    .btn
        broder-radius: 0px
        transform : scaleX(0.8)
        


.btn__prix
    font-weight: 800
    text-align: end

.fa-circle-check
    color : green
    position : relative
    right : 0

.btn__commander
    background: linear-gradient(#FF79DA, #9356DC)
    border-radius: 20px
    border: 0px
    box-shadow: 0px 4px 15px 0px #00000026
    color: white
    width :58%
    height : 4em
    margin-left:25%

.btn__commander:hover
    opacity: 0.5

/**FOOTER*

footer
  background: #353535
  color: white
  width:275.5%
  
  
  h4
    margin-left:5%

.footer__logo
  filter: invert(100)
  width:8.5em
  height:1.8em
  margin-left:5%
